body {
    font-family: Arial, sans-serif;
    background-color: #000000; /* White background */
    color: #ffffff; /* Black text */
    margin: 0;
    padding: 0;
}

/* Add more styles as needed */
.section {
    padding: 50px 0;
    text-align: center;
}

.section h2 {
    font-size: 42px;
    margin-bottom: 20px;
    text-shadow: 5px 5px 4px rgba(255, 253, 253, 0.5);
}

/* Add more styles as needed */
.artist-info {
    max-width: 800px;
    margin: 0 auto;
    font-size: 3vw;
}

.section-first img {
    margin-top: 20px;
    width: 100%;
    height: auto;
    object-fit: contain;
    border-radius: 10px; 
    mask-image: linear-gradient(to top, transparent, black); /* Create a linear gradient mask */
    -webkit-mask-image: linear-gradient(to top, transparent, black); /* For compatibility with older browsers */
}

.gallery-scroll {
    display: flex;
    overflow-x: auto; /* Enable horizontal scrolling */
    scroll-snap-type: x mandatory; /* Enable snapping to each image */
    -webkit-overflow-scrolling: touch; /* Smooth scrolling on iOS */
}

.gallery-scroll img {
    flex: 0 0 auto; /* Prevent images from stretching */
    scroll-snap-align: start; /* Align each image to the start of the scroll container */
    margin-right: 10px; /* Add margin between images */
    width: 220px; /* Set width of each image */
    height: auto; /* Maintain aspect ratio */
    border-radius: 30px;
    border: 3px solid #ffffff;
}





.navbar {
    background-color: #333; /* Dark background */
    overflow: hidden;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar li {
    float:left;
}

.navbar a {
    display: block;
    color: white; /* White text */
    text-align: center;
    padding: 14px 16px;
    text-decoration:overline;
}

.navbar a:hover {
    background-color: #ddd; /* Light background on hover */
    color: black; /* Black text on hover */
}

.experiences {
    display: flex;
    flex-direction: column;
}

.experience {
    display: flex;
    margin-bottom: 20px;
}

.experience-image {
    flex: 1;
    margin-right: 20px;
}

.experience-image img {
    max-width: 70%;
    height: auto;
}

.experience-comment {
    flex: 2;
    font-size: 3vw;
}

/* Style for the contact form */


.contact-info {
    text-align: center;
}

.contact-item {
    background-color: rgba(242, 242, 242, 0); /* Fully transparent background */
    border-radius: 5px;
    padding: 10px 20px;
    margin: 10px 0;
    display:block;
    border: 1px solid #ccc;
    margin-right: 70px;
    margin-left: 70px;
}

.contact-info a {
    color: #ffffff;
    text-decoration:solid;
}

.contact-info a:hover {
    text-decoration:underline;
}